{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"],
    "react/prop-types": "off",
    "react/sort-comp": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-wrap-multilines": [
      "error",
      { "declaration": false, "assignment": false }
    ],
    "import/prefer-default-export": "warn",
    "import/no-extraneous-dependencies": "off",
    "class-methods-use-this": "off",
    "prefer-destructuring": [
      "error",
      { "object": true, "array": false }
    ]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
