{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier", "import-helpers"],
  "rules": {
    "prettier/prettier": ["error"],
    "no-bitwise": "off",
    "react/prop-types": "off",
    "react/sort-comp": "off",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-curly-newline": "off",
    "react/jsx-one-expression-per-line": "off",
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx"] }
    ],
    "react/jsx-wrap-multilines": [
      "error",
      { "declaration": false, "assignment": false }
    ],
    "import/prefer-default-export": "warn",
    "import/no-extraneous-dependencies": "off",
    "import-helpers/order-imports": [
      "warn",
      {
        "newlinesBetween": "always",
        "groups": [
          "/^react/",
          "/^@projectstorm/",
          "/^@logossim/",
          "module",
          "/^./modules/",
          ["index", "parent", "sibling"]
        ],
        "alphabetize": { "order": "asc", "ignoreCase": true },
      }
    ],
    "class-methods-use-this": "off",
    "prefer-destructuring": [
      "error",
      { "object": true, "array": false }
    ]
  },
  "env": {
    "browser": true,
    "jest": true
  }
}
