body {
  background-color: #eee;
  background-size: 45px 45px;
  background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.15) 1px,
                      transparent 1px,
                      transparent 15px,
                    rgba(0, 0, 0, 0.1) 15px,
                      transparent 16px,
                      transparent 30px,
                    rgba(0, 0, 0, 0.1) 30px,
                      transparent 31px
                    ),
                    linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.15) 1px,
                      transparent 1px,
                      transparent 15px,
                    rgba(0, 0, 0, 0.1) 15px,
                      transparent 16px,
                      transparent 30px,
                    rgba(0, 0, 0, 0.1) 30px,
                      transparent 31px
                    );

  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
