body {
  background-color: var(--background);
  background-size: 45px 45px;
  background-image: linear-gradient(to right,
                    rgba(0, 0, 0, 0.15) 1px,
                      transparent 1px,
                      transparent 15px,
                    rgba(0, 0, 0, 0.1) 15px,
                      transparent 16px,
                      transparent 30px,
                    rgba(0, 0, 0, 0.1) 30px,
                      transparent 31px
                    ),
                    linear-gradient(to bottom,
                    rgba(0, 0, 0, 0.15) 1px,
                      transparent 1px,
                      transparent 15px,
                    rgba(0, 0, 0, 0.1) 15px,
                      transparent 16px,
                      transparent 30px,
                    rgba(0, 0, 0, 0.1) 30px,
                      transparent 31px
                    );

  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* Variables */
  --background: #eee;

  --link-unselected: gray;
  --link-selected: #3ec1ff;
  --link-width: 3;

  --value-on: rgb(19, 230, 19);
  --value-off: rgb(7, 59, 7);
  --value-error: red;

  --port-unconnected: #ddd;
  --port-hover: var(--link-selected);
  --port-connected-border: #4f4f4f;
  --port-unconnected-border: #333;
  --port-width: 2px;

  --border-selected: rgba(115,190,255,0.95);
  --border-unselected: #598897;
  --border-width: 2;

  --body-unselected: rgba(115, 190, 255, 0.95);
  --body-selected: rgba(115, 190, 255, 0.5);
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
