body {
  background-color: var(--background);

  background-position-x: var(--offset-x);
  background-position-y: var(--offset-y);

  background-size: calc(var(--grid-size) * 3)
    calc(var(--grid-size) * 3);

  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAJYAAACWCAYAAAA8AXHiAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABZ0RVh0Q3JlYXRpb24gVGltZQAwNi8yMS8yMfpAtEsAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAACEklEQVR4nO3dsU3EQBBA0QXRBclFNGAXRR+URE4ByBUQXUIfRIBj7r6Ws96Lxtms9LUO925Zlpfx633cpsfd/Dlti8sd5RzjfvYCHJOwSDyM3e9v27bXibv82bquT9/ztm0fM3e5xFHOMYYbi4iwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLxN2yLM+777dpm1zmtJvPk3a4htNuPk/a4SrcWCSEReJh7N4evtXHF9d1/Zlv9QxjHOccY7ixiAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEF1b/l9NuPk/a4SrcWCSERcILq//IUc4xhhuLiLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi4SwSAiLhLBICIuEsEgIi8QXQTowI+WSDrcAAAAASUVORK5CYII=');
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  overflow: hidden;

  /* Variables */
  --offset-x: 0px;
  --offset-y: 0px;
  --grid-size: 15px;

  --background: #eee;

  --link-selected: #3ec1ff;

  --link-1-bit-color: rgb(105, 105, 105);
  --link-1-bit-width: 3;
  --link-1-bit-join-radius: 5;

  --link-2-bit-color: rgb(90, 90, 90);
  --link-2-bit-width: 5;
  --link-2-bit-join-radius: 6;

  --link-4-bit-color: rgb(75, 75, 75);
  --link-4-bit-width: 7;
  --link-4-bit-join-radius: 8;

  --link-8-bit-color: rgb(60, 60, 60);
  --link-8-bit-width: 9;
  --link-8-bit-join-radius: 9;

  --link-16-bit-color: rgb(45, 45, 45);
  --link-16-bit-width: 11;
  --link-16-bit-join-radius: 9;

  --value-0: #069206;
  --value-1: #079a07;
  --value-2: #09a309;
  --value-3: #0aab0a;
  --value-4: #0bb40b;
  --value-5: #0dbc0d;
  --value-6: #0ec40e;
  --value-7: #0fcd0f;
  --value-8: #10d510;
  --value-9: #12de12;
  --value-10: #13e613;

  --value-off: var(--value-0);
  --value-on: var(--value-10);
  --value-error: #c80a0a;
  --value-floating: #4e68db;

  --selected-opacity: 95%;
  --unselected-opacity: 50%;

  --port-unconnected: #ddd;
  --port-hover: var(--link-selected);
  --port-connected-border: #4f4f4f;
  --port-unconnected-border: #333;
  --port-width: 2px;

  --border-selected: rgba(115, 190, 255, var(--selected-opacity));
  --border-unselected: #598897;
  --border-width: 2;

  --body-unselected: rgba(115, 190, 255, var(--selected-opacity));
  --body-selected: rgba(115, 190, 255, var(--unselected-opacity));
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

/* react-contextify styles */
.react-contexify__item__content {
  display: flex;
  align-items: center;
}

/* react-github-button styles */
.github-btn {
  display: flex;
  justify-content: center;
  margin: 32px 0;
}

.gh-btn,
.gh-count,
.gh-ico {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}

.gh-btn,
.gh-count {
  padding: 8px 20px 8px 16px;
  color: #333;
  text-decoration: none;
  cursor: pointer;
  border-radius: 6px;
}

.gh-btn {
  background-color: #eee;
  background-image: linear-gradient(to bottom, #fcfcfc 0, #eee 100%);
  background-repeat: no-repeat;
  border: 1px solid #d5d5d5;
}

.gh-btn:hover,
.gh-btn:focus {
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(to bottom, #eee 0, #ddd 100%);
  border-color: #ccc;
}

.gh-btn:active {
  background-image: none;
  background-color: #dcdcdc;
  border-color: #b5b5b5;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15);
}

.gh-ico {
  width: 34px;
  height: 34px;
  margin-right: 8px;
  background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4PSIwcHgiIHk9IjBweCIgd2lkdGg9IjQwcHgiIGhlaWdodD0iNDBweCIgdmlld0JveD0iMTIgMTIgNDAgNDAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMTIgMTIgNDAgNDAiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxwYXRoIGZpbGw9IiMzMzMzMzMiIGQ9Ik0zMiAxMy40Yy0xMC41IDAtMTkgOC41LTE5IDE5YzAgOC40IDUuNSAxNS41IDEzIDE4YzEgMC4yIDEuMy0wLjQgMS4zLTAuOWMwLTAuNSAwLTEuNyAwLTMuMiBjLTUuMyAxLjEtNi40LTIuNi02LjQtMi42QzIwIDQxLjYgMTguOCA0MSAxOC44IDQxYy0xLjctMS4yIDAuMS0xLjEgMC4xLTEuMWMxLjkgMC4xIDIuOSAyIDIuOSAyYzEuNyAyLjkgNC41IDIuMSA1LjUgMS42IGMwLjItMS4yIDAuNy0yLjEgMS4yLTIuNmMtNC4yLTAuNS04LjctMi4xLTguNy05LjRjMC0yLjEgMC43LTMuNyAyLTUuMWMtMC4yLTAuNS0wLjgtMi40IDAuMi01YzAgMCAxLjYtMC41IDUuMiAyIGMxLjUtMC40IDMuMS0wLjcgNC44LTAuN2MxLjYgMCAzLjMgMC4yIDQuNyAwLjdjMy42LTIuNCA1LjItMiA1LjItMmMxIDIuNiAwLjQgNC42IDAuMiA1YzEuMiAxLjMgMiAzIDIgNS4xYzAgNy4zLTQuNSA4LjktOC43IDkuNCBjMC43IDAuNiAxLjMgMS43IDEuMyAzLjVjMCAyLjYgMCA0LjYgMCA1LjJjMCAwLjUgMC40IDEuMSAxLjMgMC45YzcuNS0yLjYgMTMtOS43IDEzLTE4LjFDNTEgMjEuOSA0Mi41IDEzLjQgMzIgMTMuNHoiLz48L3N2Zz4=');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gh-count {
  position: relative;
  display: none;
  margin-left: 8px;
  background-color: #fafafa;
  border: 1px solid #d4d4d4;
}

.gh-count:hover,
.gh-count:focus {
  color: #4183c4;
}

.gh-count:before,
.gh-count:after {
  content: '';
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.gh-count:before {
  top: 50%;
  left: -6px;
  margin-top: -6px;
  z-index: 2;
  border-width: 6px 6px 6px 0;
  border-right-color: #fafafa;
}

.gh-count:after {
  top: 50%;
  left: -8px;
  z-index: 1;
  margin-top: -8px;
  border-width: 8px 8px 8px 0;
  border-right-color: #d4d4d4;
}
