name: Test

on:
  push:
    branches: [master]
  pull_request:
    types:
      - opened
      - synchronize

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: yarn
      - name: Test
        run: yarn test

  build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 16
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: yarn
      - name: Build
        run: yarn build
